body,
:host
{
  --blocks-root-set: lightblue;
  --blocks-head-set: mediumpurple;
  --blocks-body-set: lightgreen;
  --blocks-etc1-set: gold;
  --blocks-custom-set: lightcoral;
  
  --attributes-color: orange;
  --attribute-dropzone-color: rgba(255, 255, 255, 0.5);
  
  --properties-color: lightpink;
	--property-dropzone-color: rgba(255, 255, 255, 0.5);;

  --hex-line-width: 0.333rem;

  --menubar-main-color: lightskyblue;
  --menubar-menu-color: white;
  --menubar-menu-border-color: black;

  --hex-anim-speed: 0.1s;
}