<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= lesson.creator_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= lesson.project_id %>
  </p>

</div>
