/*
TODO: use this file for style
*/

body
{
  margin: 0;
}

#main
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

#header
{

}

/* this is inside the Text code tab */
#body
{
  height: 100%;
}

#footer
{

}