/*
TODO: use this file for style (more)
*/

html
{
  height: 100%;
}

body
{
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  height: 100%;
}

#main
{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

#header
{

}

/* this is inside the Text code tab */
#body
{
  height: 100%;
}

#footer
{

}