<script src="/hex/mcp.js" type="module"></script>
<script src="/hex/files.js" type="module"></script>

<h1>Hexfield</h1>
<% if @user_signed_in %>

<%= link_to "Sign out", "/users/sign_out", data: { turbo_method: :delete } %> </p>
  <p> <%= @user.inspect %> </p>

  <hex-files></hex-files>

  <script type="module">
import * as mcp from "/hex/mcp.js";
import {html} from "@codemirror/lang-html"
import {EditorView, basicSetup} from "codemirror"

const view = new EditorView({
  doc: "Start document",
  parent: document.body,
  extensions: [
    basicSetup,
    html()
  ]
})

mcp.register_html_editor(view);
</script>

<% else %>
<p> <%= link_to "Sign in", "/users/sign_in" %> to get started! </p>
<% end %>

