<script src="/hex/mcp.js" type="module"></script>
<script src="/hex/files.js" type="module"></script>
<script src="/hex/tabs.js" type="module"></script>

<style>
hex-tabs
{
  height: 100%;
  min-height: 0;
}

#header
{
  display: flex;
}

#header > *
{
  flex: 1;
  margin: 0 1rem;
}

#user-div,
#user-div > div
{
  text-align: right;
}
</style>

<div id="main">

<div id="header">

<h1>Hexfield</h1>
<%# if @user_signed_in %>


<div id="user-div">
  <% if @user.present? %>
    <div>User: <%= @user.name %></div>
    <div>
      <%= link_to "Sign out", "/users/sign_out", data: { turbo_method: :delete } %> 
    </div>
  <% end %>
</div>

</div>

<hex-tabs>
  <div tab="Builder">
    TBD
  </div>
  <div tab="Code">
    <div id="body"></div>
  </div>
</hex-tabs>


<div id="footer">
  <hex-files></hex-files>
</div>

</div>

<script type="module">
import * as mcp from "/hex/mcp.js";
import {html} from "@codemirror/lang-html"
import {EditorView, basicSetup} from "codemirror"

const fixedHeightEditor = EditorView.theme({
  "&": {height: "100%"},
  ".cm-scroller": {overflow: "auto"}
});

//body = document.querySelector("hex-tabs").shadowRoot.querySelector("#root");
let root = document.querySelector("hex-tabs").shadowRoot;
let body = document.querySelector("hex-tabs").shadowRoot.querySelector("#body");

const view = new EditorView({
  //doc: "Start document",
  parent: body,
  root: root,
  extensions: [
    basicSetup,
    fixedHeightEditor,
    html()
  ]
})

mcp.register_html_editor(view);
</script>