<script src="/hex/mcp.js" type="module"></script>
<script src="/hex/files.js" type="module"></script>

<h1>Hexfield</h1>
<% if @user_signed_in %>

<%= link_to "Sign out", "/users/sign_out", data: { turbo_method: :delete } %> </p>
  <p> <%= @user.inspect %> </p>

  <hex-files></hex-files>
  
  <script src="/codemirror/editor.bundle.js"></script>

<% else %>
<p> <%= link_to "Sign in", "/users/sign_in" %> to get started! </p>
<% end %>

