<script src="/hex/files.js"></script>

<h1>Hexfield</h1>
<% if @user_signed_in %>
<%= link_to "Sign out", "/users/sign_out", data: { turbo_method: :delete } %> </p>
  <p> <%= @user.inspect %> </p>
  <hex-files></hex-files>
  
  <script src="/codemirror/editor.bundle.js"></script>
<% else %>
<p> <%= link_to "Sign in", "/users/sign_in" %> to get started! </p>
<% end %>


<script type="module">
import { get, post } from '@rails/request.js'

// create FormData object from search params
function fd_from_sp()
{
  const fd = new FormData();
  const sp = new URLSearchParams(document.location.search);
  for (const [key, value] of sp.entries())
    fd.append(key, value);
  return fd;
}

// get info on this project (mainly: does it exist?)
async function get_project()
{
  const fd = fd_from_sp();
  const response = await post('/api/get-project', {body: fd});
  console.log("GP response:", response);
  const body = await response.text;
  console.log("GP body:", response.response.status, body);
  if (response.response.status == 404)
    await create_project();
  else
    // could go outside else, but new projs will be empty
    await get_files();
}

// create this project if neededs
async function create_project()
{
  const fd = fd_from_sp();
  const response = await post('/projects', {body: fd});
  console.log("GP response:", response);
  const body = await response.text;
  console.log("GP body:", response.response.status, body);
}

// get code and media files
async function get_files()
{
  await Promise.all([
    get_code_files(),
    get_media_files()
  ]);
}


// get code files in this project
async function get_code_files()
{
  const fd = fd_from_sp();
  const response = await post('/api/get-code-files', {body: fd});
  console.log("GP response:", response);
  const body = await response.text;
  console.log("GP body:", response.response.status, body);
}

// get media files in this project
async function get_media_files()
{
  const fd = fd_from_sp();
  const request = new FetchRequest('post', '/api/get-media-files', {body: fd});
  const response = await post('/api/get-media-files', {body: fd});
  console.log("GP response:", response);
  const body = await response.text;
  console.log("GP body:", response.response.status, body);
}

get_project();

</script>