<script src="/hex/files.js"></script>

<h1>Hexfield</h1>
<p>Find me in app/views/hexfield/index.html.erb</p>
<p> <% if @user_signed_in %>
<p> <%= link_to "Projects", "/projects" %> </p>
<% else %>
<p> <%= link_to "Sign in", "/users/sign_in" %> to get started! </p>
<% end %>